[submodule "neuralcoref"]
	path = neuralcoref
	url = https://github.com/huggingface/neuralcoref.git
[submodule "external/neuralcoref"]
	path = external/neuralcoref
	url = https://github.com/huggingface/neuralcoref.git
